{% block jumbotron_widget %}
    {% spaceless %}
        {% set attr = attr|merge({'class': ('jumbotron ' ~ attr.class|default(''))|trim}) %}
        <div{{ block('widget_container_attributes') }}>
            {{- value|raw -}}
            {% for child in block %}
                {{ block_widget(child) }}
            {% endfor %}
        </div>
    {% endspaceless %}
{% endblock jumbotron_widget %}
