{% block glyphicon_widget %}
    {% spaceless %}
        {% set attr = attr|merge({'class': ('glyphicon glyphicon-' ~ icon ~ ' ' ~ attr.class|default(''))|trim}) %}

        <span{{ block('widget_container_attributes') }}>{{- value|raw -}}{{ block('block_rows') }}</span>
    {% endspaceless %}
{% endblock glyphicon_widget %}
