{%- block badge_widget -%}
{%- if rendered -%}
    {%- require_style '@bower/bootstrap/less/bootstrap.less' -%}
    {%- set attr = attr|merge({'class': ('badge ' ~ attr.class|default(''))|trim}) -%}
    {%- if align is not empty -%}
        {%- set attr = attr|merge({'class': (attr.class|default('') ~ ' pull-' ~ align)|trim}) -%}
    {%- endif -%}
    <span{{ block('widget_container_attributes') }}>
        {{- label|block_trans({}, translation_domain) -}}
        {{- value|raw -}}
        {{- block('block_rows') -}}
    </span>
{%- endif -%}
{%- endblock badge_widget %}
