{% block progress_bar_widget -%}
{%- if rendered -%}
    {%- require_style '@bower/bootstrap/less/bootstrap.less' -%}

    {% set progress_class = progress_class|default('') %}
    {%- if not(stacked) -%}
        <div class="progress{% if striped %} progress-striped{% if animated %} active{% endif %}{% endif %}{{ progress_class }}">
    {%- endif -%}

    {%- set attr = attr|merge({'class': ('progress-bar ' ~ attr.class|default(''))|trim,
    'role': 'progressbar', 'aria-valuenow': value, 'aria-valuemin': min, 'aria-valuemax': max, 'style': 'width:'~value~'%;'})
    -%}

    {%- if style is not null -%}
        {%- set attr = attr|merge({'class': (attr.class|default('') ~ ' progress-bar-'~style)|trim}) -%}
    {%- endif -%}

    {%- if stacked or (not(stacked) and block.children|length == 0) -%}
        <div{{ block('widget_container_attributes') }}>
            {%- if label is not null -%}
                <span class="sr-only">{{ label|block_trans({}, translation_domain) }}</span>
            {%- endif -%}
        </div>
    {%- endif -%}

    {{- block('block_rows') -}}

    {%- if not(stacked) -%}
        </div>
    {%- endif -%}
{%- endif -%}
{%- endblock progress_bar_widget %}
